<form>
  <div class="form-block {{modifier_class}}">
    <label for="exampleInputEmail1">{{label}}</label>

    <input type="{{input_type}}" class="form-control" id="{{input_id}}"
      placeholder="{{input_placeholder}}">

    {{!-- Validation block (hidden by default) --}}
    <span class="form-block__feedback"></span>
    <p class="form-block__note">{{note}}</p>
  </div>
  <button type="{{action_type}}" class="button">
    {{action}}
  </button>
</form>
