<div class="radio {{modifier_class}}">
  <label class="radio-box" data-toggle="tooltip" data-placement="bottom"
      title="{{radio1.summary}}">
    <input type="radio" name="inlineRadioOptions" id="{{radio1.id}}"
      value="{{radio1.value}}">
    <img src="{{radio1.img}}" alt="{{radio1.summary}}">
  </label>
  <label class="radio-box" data-toggle="tooltip" data-placement="bottom"
      title="{{radio2.summary}}">
    <input type="radio" name="inlineRadioOptions" id="{{radio2.id}}"
      value="{{radio2.value}}">
    <img src="{{radio2.img}}" alt="{{radio2.summary}}">
  </label>
  <label class="radio-box" data-toggle="tooltip" data-placement="bottom"
      title="{{radio3.summary}}">
    <input type="radio" name="inlineRadioOptions" id="{{radio3.id}}"
      value="{{radio3.value}}">
    <img src="{{radio3.img}}" alt="{{radio3.summary}}">
  </label>
  <label class="radio-box" data-toggle="tooltip" data-placement="bottom"
      title="{{radio4.summary}}">
    <input type="radio" name="inlineRadioOptions" id="{{radio4.id}}"
      value="{{radio4.value}}">
    <img src="{{radio4.img}}" alt="{{radio4.summary}}">
  </label>
  <p class="form-block__note">
    Nulla vestibulum nunc fringilla, bibendum arcu id, imperdiet magna.
  </p>
</div>
