<form>
  <div class="checkbox {{modifier_class}}">
    <label>
      <input type="checkbox" id="{{checkbox.checkbox1.id}}"
        value="{{checkbox.checkbox1.value}}">
      {{checkbox.checkbox1.label}}

      <span class="form-block__helper" data-toggle="tooltip" data-placement="bottom"
          title="{{checkbox.checkbox2.helper}}">
        <span class="icon-question-mark-circle"></span>
      </span>
    </label>
    <label>
      <input type="checkbox" id="{{checkbox.checkbox2.id}}"
        value="{{checkbox.checkbox2.value}}">
      {{checkbox.checkbox2.label}}

      <span class="form-block__helper" data-toggle="tooltip" data-placement="bottom"
          title="{{checkbox.checkbox2.helper}}">
        <span class="icon-question-mark-circle"></span>
      </span>
    </label>
    <label>
      <input type="checkbox" id="{{checkbox.checkbox3.id}}"
        value="{{checkbox.checkbox3.value}}">
      {{checkbox.checkbox3.label}}

      <span class="form-block__helper" data-toggle="tooltip" data-placement="bottom"
          title="{{checkbox.checkbox3.helper}}">
        <span class="icon-question-mark-circle"></span>
      </span>
    </label>
  </div>

  <div class="radio {{modifier_class}}">
    <label>
      <input type="radio" name="{{radio.name}}" id="{{radio.radio1.id}}"
        value="{{radio.radio1.value}}" {{radio.radio1.state}}>
      {{radio.radio1.label}}

      <span class="form-block__helper" data-toggle="tooltip" data-placement="bottom"
          title="{{radio.radio1.helper}}">
        <span class="icon-question-mark-circle"></span>
      </span>
    </label>
    <label>
      <input type="radio" name="{{radio.name}}" id="{{radio.radio2.id}}"
        value="{{radio.radio2.value}}" {{radio.radio2.state}}>
      {{radio.radio2.label}}

      <span class="form-block__helper" data-toggle="tooltip" data-placement="bottom"
          title="{{radio.radio2.helper}}">
        <span class="icon-question-mark-circle"></span>
      </span>
    </label>
    <label>
      <input type="radio" name="{{radio.name}}" id="{{radio.radio3.id}}"
        value="{{radio.radio3.value}}" {{radio.radio3.state}}>
      {{radio.radio3.label}}

      <span class="form-block__helper" data-toggle="tooltip" data-placement="bottom"
          title="{{radio.radio3.helper}}">
        <span class="icon-question-mark-circle"></span>
      </span>
    </label>
  </div>
</form>
