<div class="form-block {{modifier_class}}">
  <div class="control-group">
    <span class="control-group__addon" id="{{input1.id}}">{{input1.addon}}</span>
    <input type="{{input1.type}}" class="form-control" placeholder="{{input1.placeholder}}"
      aria-describedby="{{input1.id}}">
  </div>

  {{!-- Validation block (hidden by default) --}}
  <p class="form-block__note">
    {{input1.note}}
  </p>
</div>

<div class="form-block {{modifier_class}}">
  <div class="control-group">
    <span class="control-group__addon" id="{{input2.id}}">
      <span class="{{input2.addon}}"></span>
    </span>
    <input type="{{input2.type}}" class="form-control"
      placeholder="{{input2.placeholder}}" aria-describedby="{{input2.id}}">
  </div>

  {{!-- Validation block (hidden by default) --}}
  <p class="form-block__note">
    {{input2.note}}
  </p>
</div>

<div class="form-block {{modifier_class}}">
  <div class="control-group">
    <input type="{{input3.type}}" class="form-control"
      placeholder="{{input3.placeholder}}" aria-describedby="{{input3.id}}">
    <span class="control-group__addon" id="{{input3.id}}">{{input3.addon}}</span>
  </div>

  {{!-- Validation block (hidden by default) --}}
  <p class="form-block__note">
    {{input3.note}}
  </p>
</div>

<div class="form-block {{modifier_class}}">
  <div class="control-group">
    <span class="control-group__addon" id="{{input4.id}}">{{input4.addon}}</span>
    <input type="{{input4.type}}" class="form-control"
      placeholder="{{input4.placeholder}}" aria-describedby="{{input4.id}}">
  </div>

  {{!-- Validation block (hidden by default) --}}
  <p class="form-block__note">
    {{input4.note}}
  </p>
</div>
