<form>
  <div class="form-block {{modifier_class}}">
    {{!-- Helper is required to appear before control in array. --}}
    <span class="form-block__helper" data-toggle="tooltip" data-placement="bottom"
        title="{{block1.helper}}">
      <span class="icon-question-mark-circle"></span>
    </span>

    {{!-- Form control --}}
    <input type="{{block1.type}}" class="form-control" placeholder="{{block1.placeholder}}">

    {{!-- Validation block (hidden by default) --}}
    <span class="form-block__feedback"></span>
    <p class="form-block__note">
      {{block1.note}}
    </p>
  </div>

  <div class="form-block {{modifier_class}}">
    {{!-- Helper is required to appear before control in array. --}}
    <span class="form-block__helper" data-toggle="tooltip" data-placement="bottom"
        title="{{block2.helper}}">
      <span class="icon-question-mark-circle"></span>
    </span>

    {{!-- Form control --}}
    <select class="form-control">
      <option value="{{block2.select.option1}}">{{block2.select.option1}}</option>
      <option value="{{block2.select.option2}}">{{block2.select.option2}}</option>
      <option value="{{block2.select.option3}}">{{block2.select.option3}}</option>
      <option value="{{block2.select.option4}}">{{block2.select.option4}}</option>
    </select>

    {{!-- Validation block (hidden by default) --}}
    <span class="form-block__feedback"></span>
    <p class="form-block__note">
      {{block2.note}}
    </p>
  </div>

  <div class="form-block {{modifier_class}}">
    {{!-- Helper is required to appear before control in array. --}}
    <span class="form-block__helper" data-toggle="tooltip" data-placement="bottom"
        title="{{block3.helper}}">
      <span class="icon-question-mark-circle"></span>
    </span>

    {{!-- Form control --}}
    <textarea class="form-control" rows="3"></textarea>

    {{!-- Validation block (hidden by default) --}}
    <span class="form-block__feedback"></span>
    <p class="form-block__note">
      {{block3.note}}
    </p>
  </div>
</form>
