<form>
  <div class="form-block">
    {{!-- Text input. --}}
    <input type="{{control1.type}}" class="form-control {{modifier_class}}"
      placeholder="{{control1.placeholder}}">
  </div>

  <div class="form-block">
    {{!-- Select --}}
    <select class="form-control {{modifier_class}}">
      <option value="{{control2.select.option1}}">{{control2.select.option1}}</option>
      <option value="{{control2.select.option2}}">{{control2.select.option2}}</option>
      <option value="{{control2.select.option3}}">{{control2.select.option3}}</option>
      <option value="{{control2.select.option4}}">{{control2.select.option4}}</option>
    </select>
  </div>

  <div class="form-block">
    {{!-- Textarea --}}
    <textarea class="form-control {{modifier_class}}" rows="3"></textarea>
  </div>
</form>
