<form class="form-horizontal" autocomplete="off">
  <div class="form-block {{modifier_class}}">
    <label for="{{block1.id}}" class="col-md-2 control-label">
      {{block1.label}}
    </label>
    <div class="col-md-10">
      <input type="{{block1.type}}" class="form-control" id="{{block1.id}}"
        placeholder="{{block1.placeholder}}">

      {{!-- Validation block (hidden by default) --}}
      <span class="form-block__feedback"></span>
      <p class="form-block__note">
        {{block1.note}}
      </p>
    </div>
  </div>
  <div class="form-block {{modifier_class}}">
    <label for="{{block2.id}}" class="col-md-2 control-label control-label--sm">
      {{block2.label}}
    </label>
    <div class="col-md-10">
      <input type="{{block2.type}}" class="form-control form-control--sm" id="{{block2.id}}" placeholder="{{block2.placeholder}}">

      {{!-- Validation block (hidden by default) --}}
      <span class="form-block__feedback"></span>
      <p class="form-block__note">
        {{block2.note}}
      </p>
    </div>
  </div>
  <div class="form-block">
    <div class="col-md-offset-2 col-md-10">
      <button type="{{block3.type}}" class="button button--primary">
        {{block3.action}}
      </button>
    </div>
  </div>
</form>
