<div class="alert alert__is-dismissible alert__info {{modifier_class}} fade in"
    role="alert">
  {{content_1}}

  <button type="button" class="button--action button--action--sm"
      data-dismiss="alert" aria-label="Close">
    <span class="icon-cross" aria-hidden="true"></span>
  </button>
</div>

<div class="alert alert__is-dismissible alert__warning {{modifier_class}} fade in"
    role="alert">
  <p>{{content_2}}</p>

  <button class="button button--primary" type="button">
    {{button_text_primary}}
  </button>

  <button class="button" type="button">
    {{button_text}}
  </button>

  <button type="button" class="button--action button--action--sm"
      data-dismiss="alert" aria-label="Close">
    <span class="icon-cross" aria-hidden="true"></span>
  </button>
</div>
