<div class="item-box {{modifier_class}}
    {{#unless enabled_for_sale}} item__is-disabled {{/unless}}">
  <a href="/producto/{{xid}}" title="{{summary}}">
    {{!-- Elemento contenedor de imagenes --}}
    <div class="img-container">
      <img itemprop="image" src="{{main_image.url}}" alt="{{summary}}" />
    </div>

    <h3 class="item-box__title">
      {{description}}
    </h3>

    {{!-- Elemento de precio --}}
    <div class="value-container" itemprop="offers" itemscope
        itemtype="http://schema.org/Offer">
      <span class="value-note">
        {{#if discount}}
          <del>${{list_price}}</del>
          <span class="label label--main">
            {{discount}}% off
          </span>
        {{/if}}
      </span>
      <meta itemprop="priceCurrency" content="ARS">
      <span class="value-item">
        $<span itemprop="price">
          {{price}}
        </span>
      </span>
      <link
        {{#if enabled_for_sale}}
          href="http://schema.org/InStock" itemprop="inStock"
        {{else}}
          href="http://schema.org/OutOfStock" itemprop="OutOfStock"
        {{/if}}
      >
    </div>
  </a>
</div>
