<form class="search-box {{modifier_class}}">
  <input type="text" class="form-control" placeholder="Ingresá un término de búsqueda">

  <p class="form-block__note">
    Quisiste decir: <a href="{{search_suggestion_term}}">{{suggestion_term}}</a>
  </p>

  <ul class="search-box__list">
    {{#each .}}
      {{#if name}}
      <li>
        <a href="#0" class="search-box__list--item">
          <span>
            <strong>{{name}}</strong>
              ({{street_name}} {{street_number}})
          </span>, {{city_label}}
        </a>
      </li>
      {{/if}}
    {{/each}}
  </ul>
</form>
