<a class="button {{modifier_class}}" href="{{url}}" role="button">{{text_anchor}}</a>
<button class="button {{modifier_class}}" type="submit">{{text_button}}</button>
<input class="button {{modifier_class}}" type="button" value="{{text_input}}">
<input class="button {{modifier_class}}" type="submit" value="{{text_submit}}">
<input class="button {{modifier_class}}" type="reset" value="{{text_reset}}">
