<a class="button {{modifier_class}}" href="#0" role="button">Link</a>
<button class="button {{modifier_class}}" type="submit">Button</button>
<input class="button {{modifier_class}}" type="button" value="Input">
<input class="button {{modifier_class}}" type="submit" value="Submit">
<input class="button {{modifier_class}}" type="reset" value="Reset">
